<h1> Photos of <%=User.find(params[:id]).first_name %> <%= User.find(params[:id]).last_name%></h1>
<% @photos.each do |photo| %>
 <p> <%=image_tag "/assets/#{photo.file_name}" %></p>
  <p> Photo is created on : <%=photo.date_time %></p>
  <% @comments= photo.comments %>
  <% @comments.each do |comment| %>
    <p> Comment: <%=comment.comment_text %></p>
    <p> Comment created on: <%=comment.date_time %></p>
    <p> Comment created by: <%=link_to comment.user.first_name,{:action => "picture",:controller => "user", :id => comment.user.id} %></p>
  <% end %>
<% end %>
